h2, span{
    color: brown;
}
img{
    width: 100%;
    border-radius: 24px;
}
.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
#pets{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

@media (max-width:375px){
    #pets{
        display: flex;
        flex-wrap: wrap;
    }
}